* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(255, 255, 255);
  color: #000;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

.contenedor {
  flex: 1;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "header header header" "contenido contenido sidebar" "widget-1 widget-2 sidebar" "footer footer footer";
}

.header {
  background: #40054e;
  color: #fff;
  grid-area: header;
  text-align: center;
  padding: 1rem;
}

.contenido {
  grid-area: contenido;
  padding: 1rem;
}

.sidebar {
  grid-column: 3/4;
  background: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  grid-area: sidebar;
  padding: 1rem;
}

.widget-1 {
  grid-area: widget-1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.widget-1 img {
  max-width: 100%;
  height: auto;
}

.widget-2 {
  grid-area: widget-2;
  color: #831212;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 1rem;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 10% auto;
  width: 100%;
  height: 100% px;
  background-image: linear-gradient(0deg, black, rgb(44, 44, 44));
}

.footer::before, .footer::after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, red, blue, green, orange, white);
  background-size: 400%;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  z-index: -1;
  animation: animTest 20s linear infinite;
}

@keyframes animTest {
  0%, 100% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
}
.footer::after {
  filter: blur(20px);
}

.footer img {
  width: 70px;
  height: 70px;
}

@media screen and (max-width: 768px) {
  .contenedor {
    grid-template-areas: "header header header" "contenido contenido contenido" "sidebar sidebar sidebar" "widget-1 widget-1 widget-1" "widget-2 widget-2 widget-2" "footer footer footer";
  }
}
.Navbar {
  width: 80%;
  margin: 2rem auto;
  list-style-type: none;
  text-align: center;
  font-size: 0;
}

.Navbar > ul li {
  display: inline-block;
  width: 20%;
  position: relative;
  background: #40054e;
}

.Navbar li a {
  display: block;
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #fffefe;
}

.Navbar li:hover a {
  background: #40054e;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  padding-bottom: 2px;
  color: #daf10a;
}

.Navbar li ul {
  position: absolute;
  width: 0;
  overflow: hidden;
}

.Navbar li:hover ul {
  width: 100%;
  margin: 0 -4rem -4rem -4rem;
  padding: 0 4rem 4rem 4rem;
  z-index: 5;
}

.Navbar li li {
  display: block;
  width: 100%;
}

.Navbar li:hover li a {
  font-size: 1.5rem;
  line-height: 1.7rem;
  border-top: 1px solid #e5e5e5;
  background: hsla(12, 22%, 26%, 0.46);
  padding: 0.4rem;
}

.Navbar li li a:hover {
  background: hsla(9, 22%, 18%, 0.542);
}

.contenedor img {
  width: 400px;
  height: 400px;
}

.trabajo {
  text-align: center;
}

.oval-button {
  background-color: #0d0e0d;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.oval-button:hover {
  background-color: #45a049;
}

/*# sourceMappingURL=estilos.css.map */
